@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* Membuat teks lebih jelas tanpa latar belakang */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 50%; /* Atur lebar maksimum teks */
}

.carousel-item img {
    width: auto;
    height: auto;
    max-height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-image {
        max-height: 300px; /* Set a maximum height for smaller devices */
    }
}

@media (max-width: 576px) {
    .carousel-image {
        max-height: 200px; /* Further reduce the height for very small devices */
    }
}


/* Navbar transparan default */
.navbar {
    transition: background-color 0.5s ease;
    background-color: #42723D;
}

/* Navbar menjadi berwarna saat discroll */
.navbar.scrolled {
    background-color: #42723D; /* Warna biru dengan sedikit transparansi */
}


.navbar-brand {
    margin-left: 60px;
}

.navbar-brand img.tgm {
    height: 50px; /* Atur tinggi */
    width: auto; /* Atur lebar, jika ingin gambar berbentuk kotak */
}

.navbar-nav {
    margin-left: 45%;
    font-size: 17px;
    font-family: sans-serif;
}

.btn-custom {
    background-color: #FAD058; /* Warna background kustom */
    color: white; 
    border: none; /* Hapus border */
    border-radius: 18px;
    /* width: 120px; */
    text-align: center;
}

.tgm1 {
    background-color: #42723D;
}

.tgm1 h1 {
    text-align: center;
    padding-top: 40px;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 70px;
    color: #ffffff;
}

.tgm2 {
    background-color: #ffffff;
}

.tgm2 h1 {
    text-align: center;
    padding-top: 40px;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 55px;
    color: #42723D;
    padding-bottom: 30px;
}

.row {
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

/* Footer */
.footer {
    background: linear-gradient(to right, #42723D 20%, #60A759 80%); 
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    flex: 1;
    max-width: 40%;
}

.footer-logo {
    margin-bottom: 20px;
    width: 150px;
}

.footer-left p {
    margin: 0;
    line-height: 1.6;
}

.footer-right {
    flex: 1;
    max-width: 40%;
    text-align: right;
}

.footer-right p {
    margin: 5px 0;
}

.footer-social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #ddd;
}

.footer-right p i {
    margin-right: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    position: relative; /* Adding relative positioning */
    padding-top: 10px;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 93%; /* Control the width of the border here */
    border-top: 1px solid #ddd;

}

/* .row{
    width: 300vh;
    
} */

/* .img{
    width: 10px;
    height: auto;
} */


/* Page Khasiat */
.khasiattgm {
    background: linear-gradient(to right, #42723D 25%, #60A759 75%); 
    padding-top: 40px;
   
}
.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.column {
    width: 30%;
}

.column p {
    color: #ffffff;
}
.divider {
    border-left: 2px solid white;
    height: 100px;
    margin: 0 20px;
}
.judul-tgm h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 800;
    color: #ffffff;
}

/* Page Informasi */
.profil
{
    background-color: hsl(120, 27%, 75%);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 80px;
}

.quotes {
    padding-top: 70px;
    text-align: justify;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: xx-large;
    color: #42723D;
}

/* .row p
{
      font-family: 'Assistant';
} 

.text
{
      text-align: center;
} */
  

.maksimumsize
{
    width: 40%;
    transition: 0.3s;
}

.maksimumsize:hover
{
    width: 45%;
}

.btn-tgm {
    background-color: #FAD058; /* Warna background kustom */
    color: white; 
    border: none; 
    border-radius: 20px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider {
    background-color: var(--bg);
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;

    font: normal 1rem sans-serif;
    padding-top: 40px;
}

.produk::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 93%; /* Control the width of the border here */
    border-top: 1px solid #000000;
}

.produk-tgm h1 {
    padding-top: 100px;
    text-align: center;
}


.card {
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color:#ffffff;
    color: #000000;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem grey;
    transition: .5s ease-in-out;
}

.card:hover {
    border: .1rem solid var(--warning);
    transform: scale(1.05);
}

.card::before, .card::after {
    position: absolute;
    content: "";
    background-color: #42723D;
    border-radius: 60% 60% 10% 80%;
    transition: .5s ease-in-out;
    z-index: 100;
    
}

.card::before {
    top: -6%;
    right: -6%;
    width: 9rem;
    height: 9rem;
}

.card::after {
    bottom: -6%;
    left: -6%;
    width: 5rem;
    height: 5rem;
}

.card:hover::before {
    transform: scale(1.8);
}

.card:hover::after {
    transform: scale(0);
}

.card-content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.card-img, 
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 9.5rem;
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize;
    transition-delay: .1s;
}

.card-body, 
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-delay: .2s;
}

/* Konten Youtube */
.video {
    padding-bottom: 35px;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
    text-align: center;
    background-color: hsl(120, 27%, 75%);
    /* opacity: 30%; */
}

.video-link {
    display: block;
    width: 300px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #333;
    
}

.video-link:hover {
    transform: translateY(-5px);
}

.video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.video-title {
    margin: 16px;
    font-size: 1.2em;
    color: #000;

}

.video-description {
    margin: 0 16px 16px;
    font-size: 0.9em;
    color: #666;
}

.contact-section {
    padding-bottom: 0;
    padding-top: 100px;
  }
  
  .contact__text h3 {
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  
  .contact__text p {
    color: #111111;
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  .contact__text ul li {
    list-style: none;
    position: relative;
    padding-left: 65px;
    margin-bottom: 30px;
  }
  
  .contact__text ul li span {
    height: 46px;
    width: 46px;
    background: #4c57d6;
    line-height: 46px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .contact__text ul li h5 {
    font-size: 20px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact__text ul li p {
    font-size: 15px;
    color: #111111;
    margin-bottom: 0;
  }
  
  .contact__text .contact__social a {
    display: inline-block;
    font-size: 30px;
    color: #c4c4c4;
    margin-right: 26px;
  }
  
  .contact__text .contact__social a:last-child {
    margin-right: 0;
  }
  
  .contact__text .contact__social a.facebook {
    color: #3263af;
  }
  
  .contact__text .contact__social a.twitter {
    color: #40c4ff;
  }
  
  .contact__text .contact__social a.youtube {
    color: #ff0000;
  }
  
  .contact__text .contact__social a.instagram {
    color: #b309d7;
  }
  
  .map {
    height: 515px;
  }
  
  .map iframe {
    width: 100%;
  }
  
  .contact-form h3 {
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  
  .contact-form form .input-list {
    margin-right: -20px;
    overflow: hidden;
  }
  
  .contact-form form .input-list input {
    font-size: 14px;
    color: #444444;
    width: calc(33.33% - 23px);
    height: 50px;
    padding-left: 20px;
    border: 1px solid #e1e1e1;
    margin-bottom: 23px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .contact-form form .input-list input::-webkit-input-placeholder {
    color: #444444;
  }
  
  .contact-form form .input-list input::-moz-placeholder {
    color: #444444;
  }
  
  .contact-form form .input-list input:-ms-input-placeholder {
    color: #444444;
  }
  
  .contact-form form .input-list input::-ms-input-placeholder {
    color: #444444;
  }
  
  .contact-form form .input-list input::placeholder {
    color: #444444;
  }
  
  .contact-form form textarea {
    font-size: 14px;
    color: #444444;
    width: 100%;
    height: 130px;
    padding-left: 20px;
    border: 1px solid #e1e1e1;
    margin-bottom: 17px;
    border-radius: 10px;
    resize: none;
    padding-top: 12px;
  }
  
  .contact-form form textarea::-webkit-input-placeholder {
    color: #444444;
  }
  
  .contact-form form textarea::-moz-placeholder {
    color: #444444;
  }
  
  .contact-form form textarea:-ms-input-placeholder {
    color: #444444;
  }
  
  .contact-form form textarea::-ms-input-placeholder {
    color: #444444;
  }
  
  .contact-form form textarea::placeholder {
    color: #444444;
  }
  