<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGM</title>
    <!-- Menambahkan Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
    <body>
<!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../static/asset/Logo.png" class="tgm">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link pl-5" href="../templates/index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/tentangkami.html">Tentang Kami</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/produk.html">Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/artikel.html">Artikel</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-custom nav-link" href="../templates/kontak.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Carousel -->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/asset/TGM REV 5.jpg" class="d-block w-100" alt="Image 1">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Teks untuk Gambar 1</h5>
                        <p>Deskripsi singkat untuk gambar pertama.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="../static/asset/TGM REV 5.jpg" class="d-block w-100" alt="Image 2">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Teks untuk Gambar 2</h5>
                        <p>Deskripsi singkat untuk gambar kedua.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="../static/asset/TGM REV 5.jpg" class="d-block w-100" alt="Image 3">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Teks untuk Gambar 3</h5>
                        <p>Deskripsi singkat untuk gambar ketiga.</p>
                    </div> -->
                </div>
            </div>

            <!-- Tombol navigasi -->
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <section class="khasiattgm">
            <div class="judul-tgm">
                <h1>KHASIAT TGM 99</h1>
            </div>
            <div class="container">
                <div class="column">
                    <p>Membantu meningkatkan energi dan menyegarkan tubuh.</p>
                </div>
                <div class="divider"></div>
                <div class="column">
                    <p>Membantu melancarkan fungsi organ dan membantu lancarnya proses metabolisme tubuh.</p>
                </div>
                <div class="divider"></div>
                <div class="column">
                    <p>Dapat digunakan untuk kebutuhan yang memerlukan kesterilan dan kemurnian tinggi, seperti keburuhan bayi, medis, lansia dan lain sebagainya.</p>
                </div>
            </div>
        </section>
        <section  class="tgm2">
            <div>
                <h1>PRODUK</h1>
            </div>
            <section class="slider">
                <div class="card">
                    <div class="card-content">
                        <img src="../static/asset/cup.png" alt="" class="card-img">
                        <h2 class="card-title">200 ml CUP</h1>
                        <div class="card-footer">
                            <button class="btn btn-success">Detail</button>
                            <button class="btn btn-border">Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="../static/asset/Botol-330-ml-removebg.png" alt="" class="card-img">
                        <h2 class="card-title">350 ml Botol</h1>
                        <div class="card-footer">
                            <button class="btn btn-success">Detail</button>
                            <button class="btn btn-border">Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="../static/asset/botol.png" alt="" class="card-img">
                        <h2 class="card-title">600 ml Botol</h1>
                        <div class="card-footer">
                            <button class="btn btn-success">Detail</button>
                            <button class="btn btn-border">Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="../static/asset/galon.png" alt="" class="card-img">
                        <h2 class="card-title">19 L Galon</h1>
                        <div class="card-footer">
                            <button class="btn btn-success">Detail</button>
                            <button class="btn btn-border">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="profil" id="profil">
            <div class="text-center mt-5 mb-5 galeri" id="gallery"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <img class="maksimumsize" src="../static/asset/file.png" alt="">
                    </div>
                    <div class="col-md-5">
                        <p class="text-white-75 mb-4 quotes">"Dapatkan produk-produk kami dan tingkatkan potensi bisnis anda dengan layanan kami"</p>
                        <button class="btn btn-tgm d-grid gap-2 col-6 mx-auto" type="button">Hubungi Kami</button>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimoni-->
        <section>
            <div id="testimoni" class="site">
                <div class="container">
                    <div class="testi">
                        <div class="head">
                            <h3>Testimoni</h3>
                            <p>See what people are saying..</p>
                        </div>
                        <div class="body swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <div class="wrapper">
                                        <div class="thumbnail">
                                            <img src="../static/asset/file.png" alt="">
                                        </div>
                                        <div class="aside">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur purus enim. Morbi diam tortor, convallis ac orci non, vulputate hendrerit orci. Sed pellentesque semper consectetur. Pellentesque varius magna nec maximus eleifend. Cras ut felis tempus, pellentesque tellus vel, faucibus libero. Donec lobortis volutpat quam, quis congue elit suscipit. </p>
                                            <div class="name">
                                                <h4>Rizal Gunner</h4>
                                                <p>Programmer</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="wrapper">
                                        <div class="thumbnail">
                                            <img src="../static/asset/profile.jpg" alt="">
                                        </div>
                                        <div class="aside">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur purus enim. Morbi diam tortor, convallis ac orci non, vulputate hendrerit orci. Sed pellentesque semper consectetur. Pellentesque varius magna nec maximus eleifend. Cras ut felis tempus, pellentesque tellus vel, faucibus libero. Donec lobortis volutpat quam, quis congue elit suscipit. </p>
                                            <div class="name">
                                                <h4>Tiwi Rosada</h4>
                                                <p>Analis</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--YOUTUBE-->
        <section class="video" id="video">
            <div>
                <a href="https://www.youtube.com/watch?v=7TaydpIyqJk" target="_blank" class="video-link">
                    <img src="https://img.youtube.com/vi/7TaydpIyqJk/0.jpg" alt="Thumbnail Video" class="video-thumbnail">
                    <h3 class="video-title">RUPS (Rapat Umum Pemegang Saham) CV. Tirta Guna Mandiri (CV. TGM)</h3>
                    <p class="video-description">Saban Ngariung, TGM Nimbrung</p>
                </a>            
            </div>
        </section>

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-left">
                    <img src="../static/asset/Logo.png" alt="Logo" class="footer-logo">
                    <p>CV. Tirta Guna Mandiri adalah perusahaan yang memproduksi air demineral dan melayani jasa pembuatan air demineral atau maklon air demineral yang memiliki lisensi BPOM RI, memiliki sertifikat grade A, aman dan berstandar CPKB (Cara Pembuatan Kosmetik Yang Baik) dengan dukungan mesin berteknologi modern berkapasitas besar.</p>
                </div>
                <div class="footer-right">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                    <p><i class="fas fa-phone-alt"></i> 026-5264-4190</p>
                    <p>Jalan Mayor Mansu, Sindangpakuon,<br>Kec. Cimanggung, Kab. Sumedang,<br>Jawa Barat 122566</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2024, Air Mineral. All Rights Reserved.</p>
            </div>
        </footer>



<!-- Menambahkan Bootstrap JS dan jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
            // Menjalankan auto-slide dengan interval 3 detik
            $('.carousel').carousel({
                interval: 3000
            });

            // Mengubah warna background navbar saat di-scroll
            $(window).scroll(function() {
                if ($(this).scrollTop() > 50) {
                    $('.navbar').addClass('scrolled');
                } else {
                    $('.navbar').removeClass('scrolled');
                }
            });

            const swiper = new Swiper('.swiper', {
                autoHeight: true,
                loop: true,
            
                // If we need pagination
                pagination: {
                el: '.swiper-pagination',
                },
            
                // Navigation arrows
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                },

            });
        </script>
    </body>
</html>
