<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../static/asset/Logo.png" class="tgm">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link pl-5" href="../templates/index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/tentangkami.html">Tentang Kami</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/produk.html">Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/artikel.html">Artikel</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-custom nav-link" href="../templates/kontak.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- Contact Section Begin -->
  <section class="contact-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="contact__text">
            <h3>Info Kontak</h3>
            <p></p>
            <ul>
              <li>
                <span class="fa fa-map-marker"></span>
                <h5>Alamat</h5>
                <p>Jalan Mayor Mansu, Sindangpakuon, Kec. Cimanggung, Kab. Sumedang, Jawa Barat 122566.</p>
              </li>
              <li>
                <span class="fas fa-phone-alt"></span>
                <h5>Contact</h5>
                <p>0896-3124-2977</p>
    
              </li>
              <li>
                <span class="fa fa-envelope"></span>
                <h5>Email</h5>
                <p>hghostline.gt@gmail.com</p>
              </li>
              <li>
                <div class="contact__social">
                  <a href="#" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                  <a href="#" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="twiter" target="_blank"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.437739486464!2d107.83004!3d-6.9575787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c50c7d3810d9%3A0xde7588b8331bc321!2sJl.%20Mayor%20Mansu%2C%20Kec.%20Cimanggung%2C%20Kabupaten%20Sumedang%2C%20Jawa%20Barat%2045364!5e0!3m2!1sid!2sid!4v1727025349382!5m2!1sid!2sid"
              height="500"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="contact-form spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>SEND MESSAGE</h3>
          <form action="#">
            <div class="input-list">
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <input type="number" placeholder="Mobile Number" />
            </div>
            <textarea placeholder="Question"></textarea>
            <button type="submit" class="site-btn">Send question</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section End -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <img src="../static/asset/Logo.png" alt="Logo" class="footer-logo">
                <p>Lorem ipsum dolor sit amet consectetur. Ornare facilisis ultricies integer scelerisque euismod...</p>
            </div>
            <div class="footer-right">
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <p><i class="fas fa-phone-alt"></i> 026-5264-4190</p>
                <p>Jalan Mayor Mansu, Sindangpakuon,<br>Kec. Cimanggung, Kab. Sumedang,<br>Jawa Barat 122566</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2024, Air Mineral. All Rights Reserved.</p>
        </div>
    </footer>

    <!-- <script>
        // Mengubah warna background navbar saat di-scroll
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50) {
                $('.navbar').addClass('scrolled');
            } else {
                $('.navbar').removeClass('scrolled');
            }
        });
    
    </script> -->
</body>
</html>
