<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Produk</title>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../static/asset/Logo.png" class="tgm">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link pl-5" href="../templates/index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/tentangkami.html">Tentang Kami</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link pl-4" href="../templates/produk.html">Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/artikel.html">Artikel</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-custom nav-link" href="../templates/kontak.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="produk">
        <div class="produk-tgm">
            <h1>Produk tgm99</h1>
        </div>
    </section>
    <section class="slider">
        <div class="card">
            <div class="card-content">
                <img src="../static/asset/cup.png" alt="" class="card-img">
                <h1 class="card-title">200 ml CUP</h1>
                <div class="card-footer">
                    <button class="btn btn-success">Detail</button>
                    <button class="btn btn-border">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/asset/Botol-330-ml-removebg.png" alt="" class="card-img">
                <h1 class="card-title">350 ml Botol</h1>
                <div class="card-footer">
                    <button class="btn btn-success">Detail</button>
                    <button class="btn btn-border">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/asset/botol.png" alt="" class="card-img">
                <h1 class="card-title">600 ml Botol</h1>
                <div class="card-footer">
                    <button class="btn btn-success">Detail</button>
                    <button class="btn btn-border">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/asset/galon.png" alt="" class="card-img">
                <h1 class="card-title">19 L Galon</h1>
                <div class="card-footer">
                    <button class="btn btn-success">Detail</button>
                    <button class="btn btn-border">Add To Cart</button>
                </div>
            </div>
        </div>
    </section>

    <section class="video" id="video">
        <div>
            <a href="https://www.youtube.com/watch?v=7TaydpIyqJk" target="_blank" class="video-link">
                <img src="https://img.youtube.com/vi/7TaydpIyqJk/0.jpg" alt="Thumbnail Video" class="video-thumbnail">
                <h3 class="video-title">RUPS (Rapat Umum Pemegang Saham) CV. Tirta Guna Mandiri (CV. TGM)</h3>
                <p class="video-description">Saban Ngariung, TGM Nimbrung</p>
            </a>            
        </div>        
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <img src="../static/asset/Logo.png" alt="Logo" class="footer-logo">
                <p>Lorem ipsum dolor sit amet consectetur. Ornare facilisis ultricies integer scelerisque euismod...</p>
            </div>
            <div class="footer-right">
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <p><i class="fas fa-phone-alt"></i> 026-5264-4190</p>
                <p>Jalan Mayor Mansu, Sindangpakuon,<br>Kec. Cimanggung, Kab. Sumedang,<br>Jawa Barat 122566</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2024, Air Mineral. All Rights Reserved.</p>
        </div>
    </footer>


    <!-- Menambahkan Bootstrap JS dan jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Mengubah warna background navbar saat di-scroll
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50) {
                $('.navbar').addClass('scrolled');
            } else {
                $('.navbar').removeClass('scrolled');
            }
        });
    
    </script>
    
</body>
</html>