<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGM</title>
    <!-- Menambahkan Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
    <body>
<!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../static/asset/Logo.png" class="tgm">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link pl-5" href="../templates/index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link pl-4" href="../templates/tentangkami.html">Tentang Kami</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/produk.html">Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" href="../templates/artikel.html">Artikel</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-custom nav-link" href="../templates/kontak.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Carousel -->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/asset/tgm1.jpg" class="d-block w-100" alt="Image 1">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Teks untuk Gambar 1</h5>
                        <p>Deskripsi singkat untuk gambar pertama.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="../static/asset/tgm2.jpg" class="d-block w-100" alt="Image 2">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Teks untuk Gambar 2</h5>
                        <p>Deskripsi singkat untuk gambar kedua.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="../static/asset/tgm3.jpg" class="d-block w-100" alt="Image 3">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Teks untuk Gambar 3</h5>
                        <p>Deskripsi singkat untuk gambar ketiga.</p>
                    </div> -->
                </div>
            </div>

            <!-- Tombol navigasi -->
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
        <section class="daftar-section spad"></section>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="services__item tentangkami" style="height: 400px">
                    <h3 class="fw-bold mb-3">Tentang Kami</h3>
                    <h1>TGM 99</h1>
                    <p class="tentangkami">CV. Tirta Guna Mandiri adalah perusahaan yang memproduksi air demineral dan melayani jasa pembuatan air demineral atau maklon air demineral yang memiliki lisensi BPOM RI, memiliki sertifikat grade A, aman dan berstandar CPKB (Cara Pembuatan Kosmetik Yang Baik) dengan dukungan mesin berteknologi modern berkapasitas besar.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="vidio" align="center">
                        <a href="https://www.youtube.com/watch?v=7TaydpIyqJk" target="_blank" class="video-link">
                            <img src="https://img.youtube.com/vi/7TaydpIyqJk/0.jpg" alt="Thumbnail Video" class="video-thumbnail">
                            <h3 class="video-title">RUPS (Rapat Umum Pemegang Saham) CV. Tirta Guna Mandiri (CV. TGM)</h3>
                            <p class="video-description">Saban Ngariung, TGM Nimbrung</p>
                        </a>            
                    </div>
                </div>
              </div>
            </div>
        </section>

        <!-- OUR TEAM -->
        <section class="team-section">
            <div class="team-section">
                <h1>Our Team</h1>
                <span class="border"></span>
            </div>
            <div class="ps">
                <a href="#p1"><img src="../static/asset/profile.jpg" alt=""></a>
                <a href="#p2"><img src="../static/asset/profile.jpg" alt=""></a>
                <a href="#p3"><img src="../static/asset/profile.jpg" alt=""></a>
            </div>
            <div class="jabatan" id="p1">
                <span class="name">Rizal Heater</span>
                <span class="border"></span>
                <center><p>Direktur Utama</p></center>
            </div>
            <div class="jabatan" id="p2">
                <span class="name">Janie Horrison</span>
                <span class="border"></span>
                <center><p>Manajer pemasaran</p></center>
            </div>
            <div class="jabatan" id="p3">
                <span class="name">Donato MacAonghais</span>
                <span class="border"></span>
                <center><p>Direktur Keuangan</p></center>
            </div>
        </section>
        <section class="corevalues" id="corevalues">
            <div>
                <div class="justify-content-center">
                    <div class="text-center">
                        <h1>CORE VALUES</h1>
                        <img src="../static/asset/Core values.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="daftar-section spad">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="services__item visidanmisi" style="height: 400px">
                    <h3 class="fw-bold text-center mb-3">VISI</h3>
                    <p class="visimisi">Menjadi Pilihan utama dan terdepan dalam pemenuhan kebutuhan air minum berkualitas tinggi, inovatif dan berkesinambungan bagi masyarakat.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="services__item visidanmisi" style="height: 400px">
                    <h3 class="fw-bold text-center mb-3">MISI</h3>
                    <ul class="visimisi">
                      <li>Menyajikan TGM99 dengan standar kualitas terbaik</li>
                      <li>Memastikan produk TGM99 tersedia secara luas di seluruh wilayah Indonesia dengan harga yang terjangkau dengan kualitas yang tinggi.</li>
                      <li>Mengadopsi teknologi terkini baik dalam pemurnian air hingga proses pengemasan dan pendistribusian untuk memastikan keamanan dan kebersihan produk yang disajikan kepada konsumen.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <footer class="footer">
            <div class="footer-container">
                <div class="footer-left">
                    <img src="../static/asset/Logo.png" alt="Logo" class="footer-logo">
                    <p>CV. Tirta Guna Mandiri adalah perusahaan yang memproduksi air demineral dan melayani jasa pembuatan air demineral atau maklon air demineral yang memiliki lisensi BPOM RI, memiliki sertifikat grade A, aman dan berstandar CPKB (Cara Pembuatan Kosmetik Yang Baik) dengan dukungan mesin berteknologi modern berkapasitas besar.</p>
                </div>
                <div class="footer-right">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                    <p><i class="fas fa-phone-alt"></i> 026-5264-4190</p>
                    <p>Jalan Mayor Mansu, Sindangpakuon,<br>Kec. Cimanggung, Kab. Sumedang,<br>Jawa Barat 122566</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2024, Air Mineral. All Rights Reserved.</p>
            </div>
        </footer>



<!-- Menambahkan Bootstrap JS dan jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
            // Menjalankan auto-slide dengan interval 3 detik
            $('.carousel').carousel({
                interval: 3000
            });

            // Mengubah warna background navbar saat di-scroll
            $(window).scroll(function() {
                if ($(this).scrollTop() > 50) {
                    $('.navbar').addClass('scrolled');
                } else {
                    $('.navbar').removeClass('scrolled');
                }
            });

            const swiper = new Swiper('.swiper', {
                autoHeight: true,
                loop: true,
            
                // If we need pagination
                pagination: {
                el: '.swiper-pagination',
                },
            
                // Navigation arrows
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                },

            });
        </script>
    </body>
</html>
